<div class="row">
  <div class="col-sm"></div>
  <div class="form-signin col-sm">
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.email_field :email, class:"form-control", id:"inputEmail", placeholder:"Email address"%>
      <br>
      <%= f.password_field :password, id:"inputPassword", class:"form-control", placeholder:"Password (6 characters minimum)" %>
      <br>
      <%= f.password_field :password, id:"inputPassword", class:"form-control", placeholder:"Password confirmation" %>
      <br>
      <%= f.submit "Sign up", class:"btn btn-lg btn-primary btn-block" %>
    <% end %>
    <%= render "devise/shared/links" %>
    <br>
    <br>
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false">
    </fb:login-button>
  </div>
  <div class="col-sm"></div>
</div>
