<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap py-3 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="<%= store_index_path %>">Book Online Store</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="col">
  </div>
  <form class="form-inline">
    <%= form_tag(store_index_path, method: :get) do %>
    <%= text_field_tag :term, "", class: 'form-control mr-sm-2', placeholder: 'Enter search term...'  %>
    <%= submit_tag 'Search', class:"btn btn-primary my-2 my-sm-0" %>
    <% end %>
  </form>
  <ul class="navbar-nav px-3">
    <% unless user_signed_in? %>
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="<%= new_user_session_path %>">Log In</a>
      </li>
    <% end %>
    <% if user_signed_in? %>
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="<%= destroy_user_session_path %>" id="logout_button">Log Out</a>
      </li>
    <% end %>
  </ul>
</nav>
