<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="">Book Online Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#"></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Category</a>
          <div class="dropdown-menu">
          </div>
        </li> -->
        <% if user_signed_in? %>
          <li class="nav-item">
          </li>
        <% end %>
      </ul>
    </ul>
    <ul class="nav justify-content-end">
      <% unless user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link active" href="<%= new_user_registration_path %>">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_user_session_path %>">Log In</a>
        </li>
      <% end %>
      <% if user_signed_in? && current_user.fb_uid.present? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="<%= destroy_user_session_path %>" data-method="delete" >Log Out</a>
          </div>
        </li>
      <% end %>
      <%#= form_tag :method => 'get', :class => 'form-inline my-2 my-lg-0' do %>
        <!-- <span class="mr-sm-2">
          <%= text_field_tag :query, params[:query], :class => 'form-control' %>
          <%= submit_tag "Search", :name => nil, :class => 'btn btn-outline-success my-2 my-sm-0' %>
        </span> -->
      <%# end %>
    </ul>

    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->

  </div>
</nav>
