<!DOCTYPE html>
<html>
  <head>
    <title>Book Online Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Google Tag Manager -->
    <script>
    document.addEventListener('turbolinks:load', function(event) {
      var url = event.data.url;
      dataLayer.push({
        'event':'pageView',
        'virtualUrl': url
      });
    });
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PZKMVFG');</script>
    <!-- End Google Tag Manager -->
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <section class="container-fluid">
      <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <% if @cart %>
          <div id="cart" class="carts">
            <%= render_if @cart && @cart.line_items.any?, @cart %>
          </div>
        <% end %>
        <%= render 'layouts/sidebar' %>
      </nav>
      <main class="<%= controller.controller_name %>" style="padding: 30px 0px 30px 30px">
        <%= yield %>
      </main>
      </div>
    </section>
    <footer>
      <%= render "layouts/fb_sdk" %>
      <%= render "layouts/footer" %>
      <%= render "layouts/google_tagmanager" %>
    </footer>
  </body>
</html>

<script>
  $( "#logout_button" ).click(function() {
    FB.getLoginStatus(function(response) {
      FB.logout(function(response){
        console.log("Logged Out!");
        window.location = "/users/sign_out";
      });
    });
  });
</script>
